body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: indigo;
}

#banner {
    width: 70%;
    margin: auto;
    object-fit: cover;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: aquamarine;
}
#about{
    display: flex;
    /* margin: 0 auto; */

}

#description{
    width: 50%;
    background-color: rgb(110, 110, 210);
    margin: 0 auto:

}

#team{
    width: 50%;
    background-color: red;
    margin: 0 auto:


}

#jobs-table{
    width:100%;
    /* border:1px solid gray; */
    border-collapse: collapse;
    margin-right: 100px;
    margin-left: 80px;
}

.jobs-header-row th{
    /* border:1px solid gray; */
    padding: 8px;
    text-align: left;
    background-color: azure;

}

.jobs-data-row td{
    /* border:1px solid gray; */
    padding: 8px;

}

#jobs-table tr:nth-child(odd){
    background-color: rgb(243, 246, 246);
}

#navbar{
    padding: 5px;
}


}
#footer{
    background-color: rgb(148, 141, 141);
    margin-top: 50;
    text-align: center;
}

#footerlinks{
    list-style: none;
    
}
#footerlinks li{
    display: inline;
    margin: 10 30px;
    text-align: center;
}